.title1 {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.styleinput {
	BORDER-TOP-WIDTH: 1pt; BORDER-LEFT-WIDTH: 1pt; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-WIDTH: 1pt; BORDER-BOTTOM-COLOR: #cccccc; COLOR: #333333; BORDER-TOP-COLOR: #666666; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #cccccc
}
.0D3846 {
	FONT-SIZE: 9pt; COLOR: #0d3846; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9black {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 14pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9red {
	FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9green {
	FONT-SIZE: 9pt; COLOR: #0f3a47; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9blue {
	FONT-SIZE: 9pt; COLOR: #004b79; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9orange {
	FONT-SIZE: 9pt; COLOR: #cc3300; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9write {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9blue2 {
	FONT-SIZE: 9pt; COLOR: #0066cc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9green {
	
}
word9green2 {
	FONT-SIZE: 9pt; COLOR: #ccff00; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
word9green2 {
	
}
.word9green2 {
	FONT-SIZE: 9pt; COLOR: #ccff00; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word9black2 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word10blue {
	FONT-SIZE: 10pt; COLOR: #004b79; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word10blue2 {
	FONT-SIZE: 10pt; COLOR: #0066cc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word10green {
	FONT-SIZE: 10pt; COLOR: #0f3a47; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word10black {
	FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.ptc1 {
	FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.ptc2 {
	FONT-SIZE: 12pt; COLOR: #333333; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
